@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


  html, body {
  overflow-x: hidden;
  width: 100%;
}
/* 🎨 Tipografía y fondo base */
body {
  @apply bg-gray-50 text-gray-800 font-sans;
}

h1, h2, h3 {
  @apply font-bold text-gray-900;
}

/* Ocultar scroll horizontal */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
